$width-button: 100% / 3;

%button-share {
    @extend %text-share;
    font-weight: 700;
    padding: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}

%text-share {
    font-family: Arial;
    font-size: 16px;
}